body{
    background-color:black;
}
img{
    margin-top: 50px;
    margin-left: 100px;
    display: block;
    height: 400px;
    width: 900px;
    transition: 0.5s;
}
.parent{

    display:flex;
    
    gap: 2px;
    
    }